body {
    background-color: lightblue;
    text-align: center;
}

h1, h3, h5 {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1%;
}

#account-manager {
    background-color: whitesmoke;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
}

#saved-movies-container {
    background-color: lightgreen;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
}

#saved-movies-list {
    list-style: none;
    text-align: left;
    padding: 1%;
}

.movie {
    padding: 1%;
}

#search-results {
    background-color: lightsalmon;
    border: 1px solid black;
    text-align: left;
    list-style: none;
    margin: 1%;
    padding: 1%;
    min-height: 10rem;
    max-height: 10rem;
    overflow: auto;
}

.search-result {
    margin: .5%;
    padding: .5%;
}