<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieRec</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
</head>
<body>
    <header>
        <h1>MovieRec</h1>
    </header>

    <main>
        <div class="grid-container">
            <div id="account-manager">
                <h3>Account Management</h3>

                <p id="current-user">Current User: </p>

                <form onsubmit="return false">
                    <p>Create New User:</p>
                    <input type="text" id="userToCreate" placeholder="Enter Username...">
                    <button id="createUser-button" onclick="createUser()">Submit</button>
                </form>
                <br>
                <form onsubmit="return false">
                    <p>Switch Current User:</p>
                    <input type="text" id="userToSwitchTo" placeholder="Enter Username...">
                    <button id="switchUser-button" onclick="getMovieList(null)">Submit</button>
                </form>
                <br>
                <form onsubmit="return false">
                    <p>Delete Current User:</p>
                    <button id="deleteUser-button" onclick="deleteUser()">Submit</button>
                </form>
            </div>
    
            <div id="saved-movies-container">
                <h3>Saved Movies</h3>
                <ol id="saved-movies-list"></ol>
            </div>
        </div>

        <div id="search-container">
            <form onsubmit="return false">
                <input id="search-box" type="text" placeholder="Search...">
                <button id="search-button" onclick="search()">Submit</button>
            </form>
            <ol id="search-results"></ol>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/index.js') }}" charset="utf-8"></script>
</body>
</html>