<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieRec</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
</head>
<body>
    <header>
        <h1>MovieRec</h1>
    </header>

    <main>
        <form onsubmit="return false">
            <input id="searchBox" type="text" placeholder="Search...">
            <button id="searchButton" onclick="search()">Submit</button>
        </form>

        <div id="grid-container">
            <div id="inputBox"></div>
            <div id="outputBox"></div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/index.js') }}" charset="utf-8"></script>
</body>
</html>