<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieRec</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
</head>
<body>
    <header>
        <h1>MovieRec</h1>
    </header>

    <main>
        <div class="grid-container">
            <div id="account-manager">
                <h3>Account Management</h3>
    
                <p>Current User: <p id="current-user"></p></p>
    
                <form>
                    <input type="text" id="usernameBox" placeholder="Enter Username...">
                    <button id="login-button" onclick="login()">Submit</button>
                </form>
                            
                <br>
                <button onclick="loadMovies()">View Saved Movies</button>
                <button id="delete-button" onclick="deleteUser()">Delete Current Account</button>
            </div>
    
            <div id="saved-movies-box">
                <h3>Saved Movies</h3>
                <ol id="saved-movies"></ol>
            </div>
        </div>

        <div id="search-container">
            <form onsubmit="return false">
                <input id="search-box" type="text" placeholder="Search...">
                <button id="search-button" onclick="search()">Submit</button>
            </form>
            <ol id="search-results"></ol>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/index.js') }}" charset="utf-8"></script>
</body>
</html>